<div style="text-align:center" class="jumbotron jumbotron-fluid container">

  <div class="row">
    <nbp-selection-panel></nbp-selection-panel>

  <nbp-dividing-line nbpTitle="Titolo e icona" nbpTitleIcon="icomoon-Acquisto_borsa1" (nbpClick)="buttonClicked($event)"></nbp-dividing-line>
    <nbp-shadowed-panel>
      <p>Lorem ipsum dolor sit amet,</p>
      <p>consectetur adipiscing elit.</p>
      <p>Lorem ipsum dolor sit amet,</p>
      <p>consectetur adipiscing elit.</p>
    </nbp-shadowed-panel>

  <nbp-dividing-line showButton nbpTitle="Titolo, icona e pulsante" nbpTitleIcon="icomoon-Acquisto_borsa1" nbpButtonIcon="icomoon-Acquisto_borsa1" npbButtonLabel="Acquista" (nbpClick)="buttonClicked($event)">
  </nbp-dividing-line>
  <div class="row">
    <nbp-selection-panel
      nbpTitle="Titolo"
      [nbpButtonLabel]="label1"
      [nbpSelectedButtonLabel]="label2"
      [imageUrl]="'http://temi.repubblica.it/UserFiles/economiaefinanza-lettera-allinvestitore/Image/intesa/l.jpg'">
    </nbp-selection-panel>
  </div>
  <nbp-dividing-line nbpTitle="Titolo" (nbpClick)="buttonClicked($event)">
  </nbp-dividing-line>
    <nbp-paging
    [nbpConfiguration]="pagingStep">
    </nbp-paging>
  <div class="row">
    <nbp-modal #componente
               nbpTitle='Commento Testo'
               nbpSubTitle='Esprimi un commento'
               [(nbpOpened)]='isOpened'>

      <nbp-input-container nbpLabel="Commento">
        <nbp-input-text name="commento" [(ngModel)]="commento">
        </nbp-input-text>
      </nbp-input-container>

    </nbp-modal>

    <div class="row col-md-24">
      <div class="col-md-24">
        <ul>
          <li>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar tristique enim efficitur commodo. Nam pellentesque   faucibus risus. Maecenas consequat gravida tortor a iaculis. Sed id sapien et enim dignissim malesuada. Integer lacinia justo ut nisi consectetur semper.
            </p>
          </li>
          <li>
            <p>
              Fusce laoreet nunc nec molestie euismod. Quisque mattis quam mi, et malesuada urna fringilla eget. Sed non mi eu lacus volutpat congue ut nec est. Nullam cursus facilisis est, ut ultrices ligula semper in. Fusce lobortis felis id vestibulum sollicitudin. Maecenas a est congue, egestas turpis at, convallis quam. Sed venenatis cursus augue, vel scelerisque nunc blandit in.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-24">
        <button class="btn btn-default" (click)='_openModal()'>Open Modal</button>
      </div>
    </div>
  </div>
  <nbp-dividing-line nbpTitle="Titolo" (nbpClick)="buttonClicked($event)">
  </nbp-dividing-line>
  <div class="row">
    <div class="col-md-12">
      <nbp-input-container nbpLabel="Spinner">
        <nbp-spinner name="demoSpinner" (nbpValueChange)="onChange($event)" [(ngModel)]="spinnerValue" [min]="minValue" [max]="maxValue" required rangevalidator>
        </nbp-spinner>
      </nbp-input-container>
    </div>
  </div>
  <nbp-dividing-line nbpTitle="Titolo" (nbpClick)="buttonClicked($event)">
  </nbp-dividing-line>
  <div class="row">
    <div class="col col-sm-8">
      <nbp-button [nbpLabel]="'Default Style'" [nbpType]="actionType" [nbpStyle]="defaultStyle" (nbpClick)="callback($event)">
      </nbp-button>
    </div>
    <div class="col col-sm-8">
      <nbp-button [nbpLabel]="'Primay Style'" [nbpType]="actionType" [nbpStyle]="primaryStyle" (nbpClick)="callback($event)">
      </nbp-button>
    </div>
    <div class="col col-sm-8">
      <nbp-button [nbpLabel]="'Disabled'" [nbpStyle]="defaultStyle" (nbpClick)="callback($event)" disabled>
      </nbp-button>
    </div>
  </div>
  <nbp-dividing-line nbpTitle="Titolo" (nbpClick)="buttonClicked($event)">
  </nbp-dividing-line>
  <div class="row">
    <div class="col col-sm-12">
      <nbp-accordion [nbpTitle]="'Titolo Esempio Accordion Aperto'" [nbpIcon]="'ico-comuni-visualizzaricevuta'" [nbpStyle]="primaryStyle" [nbpCollapsed]="false">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion>
    </div>
    <div class="col col-sm-12">
      <nbp-accordion [nbpTitle]="'Titolo Esempio Accordion Chiuso'" [nbpIcon]="'ico-comuni-visualizzaricevuta'" [nbpStyle]="defaultStyle" [nbpCollapsed]="true">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion>
    </div>
  </div>
  <nbp-dividing-line nbpTitle="Titolo" (nbpClick)="buttonClicked($event)">
  </nbp-dividing-line>
  <div class="col col-sm-12">
    <nbp-customer-info [nbpCustomer]="clientInfo">

    </nbp-customer-info>
  </div>
</div>
